!!! 5
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :charset => "utf-8" }
    %title= @title || 'The Video Store'
    %script{:type => "text/javascript", :src  => "/js/jquery-3.1.1.min.js"}
    %link{ :rel => "stylesheet", :href => "http://yui.yahooapis.com/combo?pure/0.2.0/base-min.css&pure/0.2.0/grids-min.css&pure/0.2.0/forms-min.css&pure/0.2.0/buttons-min.css&pure/0.2.0/menus-min.css&pure/0.2.0/tables-min.css" }
    %link{ :rel => "icon", :type => "image/png", :href => "/favicon.png" }
    %link{ :rel => "stylesheet", :href => "/stylesheets/application.css" }
  %body
    .container
      .nav
        .pure-menu.pure-menu-open.pure-menu-horizontal
          %ul
            %li
              %a{ :href => "/" } Home
            %li
              %a{ :href => "/video/new" } Upload Video
            %li
              %a{ :href => "/video/list" } Available Videos
            %li
              %a{ :href => "/login" } Login
            %li
              %a{ :href => "/logout" } Logout
      .main
        = yield
