%form#login-input{ :action => "/video/create", :method => "post", :enctype => "multipart/form-data" }
  %div.form-row
    %label#login-input Title
  %div.form-row
    %input#login-input{ :type => "text", :name => "video[title]" }
  %div.form-row
    %label Video
  %div.form-row
    %input#login-input{ :type => "file", :name => "video-file" }
  %div.form-row
    %button.btn.btn-info{ :type => "submit" } Submit
