
%form#login-input{ :action => "/signup", :method => "post" }
  %div.form-row   
    %label Username
  %div.form-row
    %input#login-input{ name: "user[login]", type: "text"}
  %div.form-row
    %label Email
  %div.form-row
    %input#login-input{ name: "user[email]", type: "text"}
  %div.form-row
    %label Password
  %div.form-row
    %input#login-input{ name: "user[pass]", type: "password"}
  %div.form-row
    %label Confirm password
  %div.form-row
    %input#login-input{ name: "user[conf_pass]", type: "password"}
  %div.form-row
    %button.btn.btn-info{ :type => "submit" } Sign up
