/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}
a#profile:hover, a#profile:active{
  background:transparent;
}
li#profile:hover, li#profile:active {
  background:#000;
}
.subheading {
  padding-bottom: 50px;
  padding-left: 100px;
}

